
/* 
    --- left section ---
*/
section.hero {
    margin-top: 3rem;
}

section.hero .parent-avatar.flex{
    align-items: end;
    /* gap: 0.6rem; */
}

section.hero .left-section{ 
    flex-grow: 1;
}

section.hero .avatar{
    width: 88px;
    border-radius: 50%;
    border: 1px solid rgb(162, 111, 16);
    padding: 1px;
    box-shadow: -8px -20px 20px 0px #4b6eff inset;
}

section.hero .icon-verified{
    color: var(--blue);
    font-size: 1.1rem;
}

section.hero .title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}

section.hero .sub-title{
    color: var(--subtitle);
    font-size: 0.9rem;
    line-height: 1.7rem;
    margin-bottom: 32px;
}

section.hero .icons{
    font-size: 1.2rem;
    gap: 1.5rem;
    color: var(--subtitle);
    
}
section.hero .icons a{
    color: var(--subtitle);
    
}
section.hero .icons .icon:hover{
    transition: 0.3s;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--icon-hover);
}

@media (max-width: 950px) {
    .pc-animation{
      display: none;
    }
  }

/* 
    --- right section --- Animations
*/