section.contact-us .icon-email {
  color: var(--subtitle);
  margin-right: 1rem;
  font-size: 1.8rem;
}

section.contact-us .title {
  font-size: 2.1rem;
  color: var(--title);
  margin-bottom: 1rem;
}

section.contact-us .sub-title {
  color: var(--subtitle);
  margin-bottom: 2rem;
  line-height: 1.65rem;
}

section.contact-us label {
  color: var(--subtitle);
}

section.contact-us #email,
#msg {
  all: unset;
  background-color: rgba(63, 63, 70, 0.15);
  border: 1px solid rgb(63, 63, 70);
  width: 16rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.1rem;
}

.light section.contact-us #email,
.light #msg {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(128, 128, 128, 0.4);
  color: #232324;
}
#msg {
  min-height: 9rem;
  resize: vertical;
}

section.contact-us #email:focus,
#msg:focus {
  border: 1px solid rgb(45 212 191);
}
section.contact-us #email:hover,
#msg:hover {
  border: 1px solid rgb(45, 212, 191);
}

.light section.contact-us #email:focus,
.light #msg:focus,
.light section.contact-us #email:hover,
.light #msg:hover {
  border: 1px solid rgb(71, 77, 76);
}

.light .success{
  color: rgb(71, 77, 76);
}

section.contact-us .submit {
  background-color: rgb(63, 63, 70);
  padding: 0.75rem 1.9rem;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 1.8rem;
}

section.contact-us .submit:hover {
  scale: 0.95;
}

@media (max-width: 960px) {
  section.contact-us .contact-animation{
    display: none;
  }
}
@media (max-width: 600px) {
  .animation {
    display: none;
  }
  section.contact-us form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  section.contact-us form div.flex {
    flex-direction: column;
    align-items: start;
  }

  section.contact-us #email,
  #msg {
    width: 100%;
    margin-left: 0;
    padding: 0.7rem 0;
    margin-top: 1rem;
  }

  section.contact-us .submit {
    width: 30%;
    align-self: center;
  }
}
